<div *ngIf="isGameOver" class="gg">
    <h1>GAME OVER</h1>
    <strong>gg wp</strong>
</div>
<div class="board-wrapper" *ngIf="!isGameOver">
    <h2 class="score">Score: {{score}}</h2>

    <section class="bombs-container">
        <app-bomb *ngFor="let x of x_axis" (scoreEmitter)="calcScore($event)"></app-bomb>
    </section>

    <section class="bins-container">
        <app-bin *ngFor="let x of [1,2,3]" [reset]="shouldReset" (scoreCounter)="calcScore($event)"></app-bin>
    </section>

    <app-timer (reset)="getReset($event)"></app-timer>
</div>