<div class="board-wrapper">
    <h2 class="score">Score: {{score}}</h2>

    <section class="bombs-container">
        <!--<div class="y-axis" *ngFor="let y of y_axis">-->
        <!--</div>-->
        <app-bomb *ngFor="let x of x_axis" (scoreEmitter)="calcScore($event)"></app-bomb>
    </section>

    <section class="bins-container">
        <app-bin *ngFor="let x of [1,2,3]" [reset]="shouldReset" (scoreCounter)="calcScore($event)"></app-bin>
    </section>

    <app-timer (reset)="getReset($event)"></app-timer>
</div>