@import 'reset';
@import 'variables';

body {
  padding: 2rem;
  font-family: Arial, serif;
}

.bins-container {
  display: flex;
  justify-content: space-between;
}

.bin {
  width: 5rem;
  height: 5rem;
}

.bottom-timer {
  margin-top: 3rem;
  float: right;
}

.score {
  margin-bottom: 3rem;
}

.bombs-container {
  display: flex;
}

.bomb {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  position: relative;
  span {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    background-color: $bomb_label_color;
    min-width: 1.2rem;
    min-height: 1.2rem;
    line-height: 1.2rem;
    padding: 1px;
    font-size: 75%;
    text-align: center;
  }
}